# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build outputs
dist/
build/
out/
.next/
.cache/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Backend specific
backend/.env
# backend/uploads/*
!backend/uploads/.gitkeep
backend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Prisma
/prisma/migrations/
*.db
backend/prisma/dev.db
